
#map {
  height: 500px;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill:#C74848;
  opacity:0.8;
  stroke:white;
  stroke-width:1;

}